:root{
  --backColor:black;
  --color:white;
}

h3{
  text-align: right !important;
}
.Calculator{
  background-color: var(--backColor);
  font-family: 'Orbitron', sans-serif !important;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}

#root{
  display: flex;
  align-items: center;
  height: 95vh;
}

.Creator{
  text-align: center;
  margin: 10px auto 0 auto !important;
  font-family: 'Orbitron', sans-serif !important;
  font-size: 12px;
  position: absolute;
  width:100%;
  transform: translateY(10px);
  left:0;
}
.buttonPad{
  display: block;
}
.buttonRow{
  display: block;
}
.buttonCell{
  display: inline-block;
}
.AC{
  background-color:rgb(248, 37, 37);
}
.AC:active{
  background-color:rgb(253, 69, 69);
}
.Operator{
  background-color: rgb(95, 93, 93);
}
.Operator:active{
  background-color: rgb(119, 117, 117);
}
.Num{
  background-color: rgb(61, 58, 58);
}
.Num:active{
  background-color: rgb(80, 79, 79);
}
.buttonCell button{
  width:80px;
  height: 80px;
  border-radius: 40px;
  font-family: 'Orbitron', sans-serif !important;
  font-size: large;
  color:white;
}
.firstLine{
  color:lightblue !important;
}
.secondLine{
  color:var(--color)
}
.longButton{
  width: 160px !important;
}

@media only screen and (max-device-width: 600px) {
  .buttonCell button{
    width:70px;
    height: 70px;
    border-radius: 35px;
  }
  .longButton{
    width: 140px !important;
  }
}