:root{
  --backColor:black;
  --color:white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h3{
  color:var(--color);
  text-align: right !important;
}
.Calculator{
  background-color: var(--backColor);
  /* width:400px; */
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;

}

#root{
  display: flex;
  align-items: center;
  height: 95vh;
}

.Creator{
  text-align: center;
  margin: 10px auto 0 auto !important;
  font-family: 'Orbitron', sans-serif !important;
  font-size: 12px;
  position: absolute;
  width:100%;
  transform: translateY(10px);
  left:0;
}
.buttonPad{
  display: block;
}
.buttonRow{
  display: block;
}
.buttonCell{
  display: inline-block;
}
.buttonCell button{
  width:50px;
  height: 50px;
  border-radius: 25px;
}
.longButton{
  width: 100px !important;
}

@media only screen and (max-device-width: 600px) {
  .buttonCell button{
    width:70px;
    height: 70px;
    border-radius: 35px;
  }
  .longButton{
    width: 140px !important;
  }
}